.insert {
    padding: 20px 30px;
    display: block;
    width: 600px;
    margin: 5vh auto;
    height: 90vh;
    border: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.insert .file-list {
    height: auto;
    overflow: auto;
    border: 1px solid #989898;
    padding: 10px;
}
.insert .file-list .filebox p {
    font-size: 10px;
    height: 11px;
    display: inline-block;
    margin: 0;
}
.insert .file-list .filebox .delete i{
    color: #ff5353;
    margin-left: 5px;
}

.insert .file-list .filebox .delete i:after{
    content: "X";

}

